@import "tailwindcss";

@layer base {
  body {
    background-color: #F5F5F7; /* Off-white da Apple */
    color: #1D1D1F;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  /* Esconde a scrollbar mas mantém a rolagem */
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}